@font-face {
    font-family: 'Erbos Draco';
    src: url('erbos-draco.eot');
    src: url('erbos-draco.eot?#iefix') format('embedded-opentype'),
        url('erbos-draco.woff') format('woff'),
        url('erbos-draco.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}