.flex-center, .flex-left {
    display: -webkit-flex;
    display: flex;
    -webkit-flex-flow: column wrap;
    flex-flow: column wrap;
    justify-content: center;
    align-items: center;
    width: 95%;
    margin: 15px auto;
    background: #0F0F0F;
    border-radius: 4px;
}

.flex-left {
    justify-content: left;
    align-items: left;
    width: 98%;
    padding: 1%;
}

body, button, input {
    background: #3B3B3B;
    font-family: 'Erbos Draco', 'Courier New', sans-serif;
    font-size: 20px;
    line-height: 150%;
    padding: 15px;
    color: #FFFFFF;
}

tr, th, td, button, input {
    width: 20%;
    padding: 0px;
    border: 3px solid #0F0F0F;
    border-bottom-color: #3B3B3B;
    text-align: left;
}

h1, h3 {
    font-size: 30px;
    padding: 10px;
}

button, input {
    margin: 3px;
    margin-left: 10px;
    background-color: #0F0F0F;
}

button {
    padding: 5px;
    margin-top: 15px;
    border: none;
}

button:focus, input:focus {
    outline: 0;
}

