
/** {
    outline: 1px solid red;
}*/

.flex-center {
    display: -webkit-flex;
    display: flex;
    -webkit-flex-flow: column wrap;
    flex-flow: column wrap;
    justify-content: center;
    align-items: center;
    width: 95%;
    margin: 15px auto;
    background: #0F0F0F;
    border-radius: 2px;
}

.flex-left {
    display: -webkit-flex;
    display: flex;
    -webkit-flex-flow: column wrap;
    flex-flow: column wrap;
    justify-content: left;
    align-items: left;
    width: 98%;
    padding: 1%;
    margin: 15px auto;
   
}

body {
    background: #595959;
    font-family: 'Erbos Draco', 'Scoreboard', 'Courier New', sans-serif;
    font-size: 20px;
    line-height: 150%;
    padding: 15px;
    color: #FFFFFF;
}

tr, th, td {
    width: 20%;
    border: 1px solid #595959;
    text-align: left;
}

h1, h3 {
    font-size: 30px;
    padding: 10px;
}

button, input {
    background: #595959;
    font-family: 'Erbos Draco', 'Scoreboard', 'Courier New', sans-serif;
    color: #FFFFFF;
    font-size: 20px;
    line-height: 150%;
    /*padding: 15px;*/
    margin: 3px;
    border: none;
    /*align-items:  top;*/
    /*vertical-align: center;*/
}

button:focus, input:focus {
    outline: 0;
}

